.card-book{
    display: inline-block;
    cursor: pointer;
}

.card-image{
    width: 100%;
    height: 12em;
    overflow: hidden;
    position: relative;
}

.card-image img{
    min-width: 100%;
    object-fit: cover;
    height: 100%;
}

.card-banner{
    width: 120%;
    left: -10%;
    background-color: rgb(255, 255, 255);
    padding: 0.25em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: .5em;
    color: rgb(70, 123, 255);
}

.card-shadow{
    position: absolute;
    height: 100%;
    width: 7%;
    border-right: 1px solid rgba(0, 0, 0, 0.132);
    top: 0;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-title{
    font-size: 1em;
    font-weight: 500;
}

.card-author{
    font-size: 0.75em;
}